<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"  href="{{ url_for('static', filename='stylesheets/style.css') }}">

        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
                 
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='javascript/hover.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/responsive.js')}}"></script>

    </head>
    <body>

        <div class="heading">
            <h1>Kath-Kut<h1>
        </div>

        <!--div class = "box">

        </div-->

        <div class = "container">


            <div class="masterbox">

                <!--h3 id="head">Computer</h3-->
                <div class="animate">
                    <span id="left-1"></span>
                    <span id="left-2"></span>
                    <span id="mid"></span>
                    <span id="right-1"></span>
                    <span id="right-2"></span>
                </div>

                <div class = "box">
                    <span></span>
                    <span></span>
                </div>

                <h3 id="bottom">You</h3>

            </div>

            <div class="grid">


                <div class = "row rborder">

                    <div class="col-4 cborder" id="0">
                       <div class="elem">
                            
                            <span></span>
                            <span></span>
                       </div>
                    </div>

                    <div class="col-4 cborder" id="1">
                        <div class="elem">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-4" id="2">
                        <div class="elem">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                </div>

                <div class = "row rborder">
                    <div class="col-4 cborder" id="3">
                        <div class="elem">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-4 cborder" id="4">
                        <div class="elem">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-4" id="5">
                        <div class="elem">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-4 cborder" id="6">
                        <div class="elem">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-4 cborder" id="7">
                        <div class="elem">
                            
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-4" id="8">
                        <div class="elem">
                           
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>